@()

@main("GrifSpot") {
    @*<div class="col-lg-12" id="topOfPage" xmlns="http://www.w3.org/1999/html">*@
    <div id="topOfPage" xmlns="http://www.w3.org/1999/html">
        <br>
        <center><img src="/assets/images/westminster_logo.jpg" size=50%></center>
        <div class="categories form">
            @*<div class="col-md-4">*@
                <center>
                    <strong><H2>GrifSpot</H2></strong>
               <strong><H3>Category Selection</H3></strong>
                <div ng-dropdown-multiselect=""  options="categories" selected-model="selectedModel"></div>
                <br>
                </center>
            @*</div>*@
        </div>
    </div>

    <div class="col-lg-12">
        <div class="well clearfix" id="spotlight">
            <div class="col-md-6">
                <br>
                <br>
                <a href="{{spotlight.url}}"><img style="height: 300px;" src="/assets/images/{{spotlight.image}}"/></a>
            </div>
            <div class="col-md-6">
                <h1>{{spotlight.name}}</h1>
                <strong>{{spotlight.phoneNumber}}</strong><br>
                <strong>{{spotlight.address}}</strong><br><br>
                <div ng-if="spotlight.restaurantsByPointId.length > 0">
                    <br>
                    Type: <strong>{{spotlight.restaurantsByPointId[0].restType}}</strong><br>
                    Style: <strong>{{spotlight.restaurantsByPointId[0].style}}</strong><br>
                        Specialty: <strong>{{spotlight.restaurantsByPointId[0].specialty}}</strong><br>
                    Zagat Rating: <strong>{{spotlight.restaurantsByPointId[0].zagatRating}}</strong><br>
                        Price: <strong>{{spotlight.restaurantsByPointId[0].price}}</strong>
                </div>
                <div ng-if="spotlight.transportationsByPointId.length > 0">
                    <br>
                    Fares: <strong>{{spotlight.transportationsByPointId[0].fares}}</strong><br>
                    Type: <strong>{{spotlight.transportationsByPointId[0].ptType}}</strong><br>
                </div>
                <div ng-if="spotlight.architecturesByPointId.length > 0">
                    <br>
                    Type: <strong>{{spotlight.architecturesByPointId[0].archType}}</strong><br>
                    Purpose: <strong>{{spotlight.architecturesByPointId[0].purpose}}</strong><br>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4"  ng-repeat="poi in pois" id="{{poi.name}}">
            <h3>{{poi.name}}</h3>
            <a href="#topOfPage" ng-click="updateSpotlight(poi)"><img style="width: 100%; height: 200px;" src="/assets/images/{{poi.image}}"/></a>
        </div>
    </div>
}
